
@{
    ViewBag.Title = "AboutUs";
}



<body>
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="pull-left">
                        About us
                    </h1>
                    <img id="logoimg" class="pull-right" src="~/WebsiteImages/WebsiteDrumLogo.gif" />
                </div>
            </div>
        </div>
    </div>


    <div id="storepic">
        <img class="img-rounded" src="~/WebsiteImages/aboutpagepic.jpg" />
    </div>

    <div class="Aboutparagraph">
        <p>
            Owner, Dylan Young, has been tinkering with drums and musical instruments since a very young age. He grew up in family
            where his father sang and traveled extensively with various bands around the country. Dylan, took the same path with his
            instrument of choice, the drums. Over the years of playing drums, Dylan has collected and sold many drums which birthed the
            idea of his very own drum shop. Starting off small, Dylan has been able to offer great drum options and keep the close relationship
            with customers because of his smaller-sized shop.
        </p>
    </div>

</body>

<style>

    .body-content {
        padding-bottom: 0;
        width: 100%;
    }

    .Aboutparagraph p {
        font-family: 'Oswald',sans-serif;
        font-size: large;
    }
    .Aboutparagraph{
        padding-top:20px;
        padding-bottom:20px;
        padding-right: 20px;
        padding-left:20px;
        background-color: lightgrey;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right:auto;
        padding-bottom:20px;
    }
</style>